body{
    background: pink;
}
h1{
    font-size: 60px;
    color: aqua;
    text-align: center;
}
p{
    font-size: 30px;
    color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
}
img{
    width: 300px;
    height: 300px;
    margin: 30px;
    margin-left: 130px;
}